MARLEY_SPOON_API_HOST=https://staging.api.marleyspoon.com/graphql
MARLEY_SPOON_API_TOKEN="Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJhcGkiLCJ1c2VyX2lkIjo2NTczOSwiY291bnRyeSI6ImRlIiwiYnJhbmQiOiJtcyIsInNjb3BlcyI6WyJhZG1pbiJdfQ.dMlbcgThQLo2tGorO75u2Ri61jF7muQcXqA9-zNHo_U"